.header {
  width: 100%;
  background-color: #1f1e2e;
  color: #ffffff;
  margin-bottom: 10px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-logo h1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 10px;
}
.header-profile {
  display: flex;
  align-items: center;
}
.header-profile p {
  margin-right: 10px;
  font-size: 1rem;
}
